.App {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  max-width: 770px;
  min-height: 430px;
  min-height: 426px;
  height: 60vh;
  background: white;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgb(182, 182, 182);
}

